
.vscode/
Logs/
**.zip


*Cache*
Library/PackageCache/
Library/BurstCache/

*Temp*

*plafond2*
*plafond1*

WhatsApp Image 2025-12-13 à 12.36.01_d4d27eb2*
!WhatsApp Image 2025-12-13 à 12.36.01_d4d27eb2 1*

Assets/*.jpg
Assets/*.png

Assets/Materials
# Assets/Nathan/Scenes/
Assets/Nathan/TutorialInfo

*edroom*

Assets/avataars_copy.unity*
Assets/test_export_package_1.unitypackage*

Assets/SampleScene.*


*sweat_sans_pb*

!*alwena_sweat_sans_pb_0*
!*Nathan/Alwena_sweat_sans_pb.*
!*remi_sweat_sans_pb_1*
!Assets/alwena_sweat_sans_pb.prefab